# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/node_modules/
backend/dist/

# Env files
**/.env
**/.env.*

# Uploads
backend/public/uploads/

# Logs
*.log

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# AI docs
AI.md